*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Navbar */
.navbar{
    background:#4f46e5;
    color:white;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar h2{
    color:white;
}

.btn{
    background:white;
    color:#4f46e5;
    text-decoration:none;
    padding:10px 20px;
    border-radius:6px;
    font-weight:bold;
}

/* Container */
.container{
    width:90%;
    margin:30px auto;
}

/* Filter */
.filter-box{
    margin-bottom:25px;
}

.filter-box select{
    width:200px;
    padding:10px;
}

/* Produk */
.produk-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
    overflow:hidden;
}

.card-body{
    padding:20px;
}

.card h3{
    margin-bottom:10px;
}

.harga{
    color:red;
    font-size:20px;
    font-weight:bold;
    margin:10px 0;
}

.kategori{
    display:inline-block;
    background:#4f46e5;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    margin-bottom:10px;
}

.desc{
    color:#666;
}

/* FORM CARD */
.form-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 30px auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* LABEL */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* INPUT */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON SUBMIT */
.btn-submit {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #4338ca;
}